<header class="w-100 flex justify-content-center shadow-sm">
  <div class="w-default flex justify-content-space-between">
     <img
      src="https://logos.textgiraffe.com/logos/logo-name/Dinesh-designstyle-friday-m.png"
      alt="Name Logo"
      height="40"
    />
    <ul>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'home' ? 'active' : ''"
        (click)="scrollFunc('home')"
      >
        Home
      </li>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'about' ? 'active' : ''"
        (click)="scrollFunc('about')"
      >
        About
      </li>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'skills' ? 'active' : ''"
        (click)="scrollFunc('skills')"
      >
        Skills
      </li>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'qualifications' ? 'active' : ''"
        (click)="scrollFunc('qualifications')"
      >
        Qualifications
      </li>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'contactme' ? 'active' : ''"
        (click)="scrollFunc('contactme')"
      >
        Contact Me
      </li>
    </ul>
  </div>
</header>
