main {
    color: $text-color;

    // ** Common Classess
    .title {
        text-align: center;
        font-size: $title-size;
        font-weight: 600;
        line-height: 0.3;
        margin-bottom: 0;
    }

    .is-invalid {
        border-bottom: 1px solid #F72585;
    }

    .sub-title {
        text-align: center;
        color: $text-muted;
    }

    // Home Page
    .home-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5px;
        justify-items: end;

        .social-icons {
            display: flex;
            gap: 2rem;
            padding: 0;

            span {
                color: $gray-500;
                cursor: pointer;

                svg {
                    height: 22px;
                    width: 22px;
                    padding: 5px;
                    border: 1px solid currentColor;
                    border-radius: 50%;
                }

                :hover>svg {
                    color: $primary;
                }
            }

            span:nth-child(2) {
                :hover>svg {
                    color: $black;
                }
            }

            span:nth-child(3) {
                :hover>svg {
                    color: green;
                }
            }
        }

        p.name {
            font-size: $title-size + 10px;
            font-weight: 600;
        }

        p.para {
            color: rgba($color: $text-color, $alpha: 0.85);
        }

        img {
            max-height: 400px;
            border-radius: 50%;
            max-width: 400px;
        }
    }

    // About Me
    .about-me {
        .main-content {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            img {
                width: 60%;
                border-radius: 30%;
            }

            section:first-child {
                text-align: center;
            }

            section.second {
                p.para {
                    color: rgba($color: $text-color, $alpha: 0.85);
                }
            }

            section ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                padding: 0;
                gap: 20px;

                li:first-child {
                    background-color: rgba($color: $primary, $alpha: 0.1);
                }

                li:nth-child(2) {
                    background-color: rgba($color: $danger, $alpha: 0.1);
                }

                li:nth-child(3) {
                    background-color: rgba($color: #0a5704, $alpha: 0.1);
                }

                li {
                    display: inline-block;
                    max-width: 150px;
                    border-radius: 5px;
                    padding: 5px 15px;
                    box-shadow: $sm-box-shadow;
                    border: 1px solid $text-color;

                    p {
                        word-wrap: break-word;
                    }

                    h1 {
                        line-height: 0.6;
                        margin-bottom: 0;
                    }
                }


            }
        }
    }

    // Skills
    .skills {
        margin: 100px 0;

        .skills-div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

        }

        ul {
            border: 1px solid silver;
            margin: 0;
            padding: 0 0 15px 0;
            border-radius: 10px;
            width: 70%;
            box-shadow: $sm-box-shadow;

            h3 {
                display: flex;
                justify-content: space-between;
                margin: 0;
                background-color: rgba($color: $gray-500, $alpha: 0.1);
                padding: 20px;
            }

            li {
                list-style-type: none;
                font-weight: 500;
                margin: 4px 15px;

                div {
                    display: flex;
                    justify-content: space-between;

                    p {
                        margin-bottom: 0;
                    }
                }

                div.range {
                    background-color: rgba($color: $primary, $alpha: 0.3);
                    width: 100%;
                    border-radius: 2px;
                    margin-top: 10px;

                    p {
                        background-color: $primary;
                        padding: 3px;
                        border-radius: 3px;
                        margin: 0;
                    }
                }

            }
        }
    }

    // Qualifications
    .qualifications {

        h4 {
            margin: 0;
            font-weight: 600;
        }

        .year {
            margin: 0 0 10px 0;
            font-size: 14px;
        }

        p.my-0 {
            font-size: 12px;
            margin: 0;
        }

        svg {
            color: $danger;
        }

        div {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            text-align: center;
        }

        section {
            box-shadow: $sm-box-shadow;
            width: 50%;
            border: 1px solid $gray-200;
            margin-top: 10px;
            padding: 10px;
            border-radius: 10px;

        }
    }

    // Contact Me
    .contactme {
        section {
            div {
                svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        .form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            form {
                div {
                    display: flex;
                    flex-direction: column;
                    border-radius: 5px;
                    overflow: hidden;
                    padding: 10px;
                    background-color: rgba($color: $primary, $alpha: 0.1);

                    input,
                    textarea {
                        background-color: rgba($color: $primary, $alpha: 0);
                    }

                    label {
                        margin-bottom: 0;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }

                    input,
                    textarea {
                        border: none;
                        font-family: inherit;
                        font-weight: bold;

                        &:focus {
                            outline: none;
                        }
                    }

                    margin-bottom: 10px;
                }

                div:first-child {
                    flex-direction: row;
                    justify-content: space-between;

                    section {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        margin-left: 5px;
                        overflow: hidden;
                    }
                }
            }

        }
    }
}

