@media only screen and (min-width:321px) and (max-width:768px) {

    header {
        display: flex;
        justify-content: center;
        
        ul {
            display: none;
        }

        min-height: 61px;
    }

    // Home Page
    main {
        .w-default {
            width: 90%;
        }

        .home-content {
            display: grid !important;
            grid-template-columns: repeat(1, 1fr);
        }

        .contactme {
            .form {
                grid-template-columns: repeat(1, 1fr);
                justify-content: center;
            }
        }

        .about-me {
            .main-content {
                grid-template-columns: repeat(1, 1fr);

                section ul {
                    flex-direction: column;
                    align-items: center;

                    li {
                        width: 80%;
                        max-width: none;
                    }
                }

                section.second {
                    text-align: center;
                }
            }

        }

        .skills {
            .skills-div {
                grid-template-columns: repeat(1, 1fr);
            }

            ul {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        .qualifications {
            section {
                width: 100%;
            }
        }
    }

    // Footer
    footer {
        .footer-content {
            text-align: center;
            flex-direction: column;
        }
    }

}