<div class="about-me mt-9" id="about">
  <p class="title">About Me</p>
  <p class="sub-title">My Introduction</p>
  <div class="main-content">
    <section>
      <img src="assets/images/Experience.jpg" alt="My Image" />
    </section>
    <section class="second">
      <p class="para">
        Full stack developer, with extensive knowledge and years of experience,
        working in full stack technologies for delivering quality work. I always
        ready to learn new technologies for new project.
      </p>
      <ul>
        <li>
          <h1>+01</h1>
          <p>Years experience</p>
        </li>
        <li>
          <h1>+03</h1>
          <p>Projects completed</p>
        </li>
        <li>
          <h1>+01</h1>
          <p>Companies worked</p>
        </li>
      </ul>
      <div style="margin-top: 40px;">
        <a
        href="https://drive.google.com/file/d/1T8iwklLKBMUhjM_qMUu48UgyHOfBn_KR/view?usp=share_link"
        class="btn"
        style="text-decoration: none;"
        target="_blank"
        >Download CV <fa-icon [icon]="downloadCV"></fa-icon
      ></a>
      </div>
    </section>
  </div>
</div>
