<div class="qualifications" id="qualifications">
  <p class="title">Qualifications</p>
  <p class="sub-title">My Personal Journey</p>
  <div>
    <section>
      <h4>MCA(Master of Computer Application)</h4>
      <p class="my-0">Sanskriti University</p>
      <p class="year">Year - 2019-(Pursuing)</p>
    </section>

    <section>
      <h4>BCA(Bachlor of Computer Application)</h4>
      <p class="my-0">Manorama Institue </p>
      <p class="year">Year - 2016-2019</p>
    </section>

    <section>
      <h4>12<sup>th</sup></h4>
      <p class="my-0">Desh Deepak Inter Collage</p>
      <p class="year">Year - 2014-2016</p>
    </section>

    <section>
      <h4>10<sup>th</sup></h4>
      <p class="my-0">Desh Deepak Inter Collage</p>
      <p class="year">Year - 2012-2014</p>
    </section>
  </div>
</div>
