<div class="skills" id="skills">
  <p class="title">Skills</p>
  <p class="sub-title">About the skills</p>

  <br />
  <div class="skills-div">
    <ul>
      <h3><fa-icon [icon]="faCode"></fa-icon> Frontend Skills</h3>
      <li>
        <div>
          <p>HTML</p>
          <p>95%</p>
        </div>
        <div class="range">
          <p style="width: 95%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>CSS</p>
          <p>80%</p>
        </div>
        <div class="range">
          <p style="width: 80%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>JavaScript</p>
          <p>80%</p>
        </div>
        <div class="range">
          <p style="width: 80%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>Typescript</p>
          <p>75%</p>
        </div>
        <div class="range">
          <p style="width: 75%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>
            React<small style="font-size: 10px"
              >(with JavaScript, Typescript)</small
            >
          </p>
          <p>80%</p>
        </div>
        <div class="range">
          <p style="width: 80%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>
            NextJS<small style="font-size: 10px"
              >(with JavaScript, Typescript)</small
            >
          </p>
          <p>75%</p>
        </div>
        <div class="range">
          <p style="width: 75%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>Angular</p>
          <p>65%</p>
        </div>
        <div class="range">
          <p style="width: 65%"></p>
        </div>
      </li>
    </ul>

    <ul>
      <h3><fa-icon [icon]="faDatabase"></fa-icon> Backend Skills</h3>
      <li>
        <div>
          <p>Spring Boot</p>
          <p>40%</p>
        </div>
        <div class="range">
          <p style="width: 40%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>
            NodeJS<small style="font-size: 10px"
              >(with ExpressJS, [JavaScript, Typescript])</small
            >
          </p>
          <p>85%</p>
        </div>
        <div class="range">
          <p style="width: 85%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>NestJS</p>
          <p>75%</p>
        </div>
        <div class="range">
          <p style="width: 75%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>MongoDB<small style="font-size: 10px">(Database)</small></p>
          <p>70%</p>
        </div>
        <div class="range">
          <p style="width: 70%"></p>
        </div>
      </li>
      <li>
        <div>
          <p>MySQL<small style="font-size: 10px">(Database)</small></p>
          <p>80%</p>
        </div>
        <div class="range">
          <p style="width: 80%"></p>
        </div>
      </li>
    </ul>
  </div>
</div>
