<footer class="p-1 flex justify-content-center w-100">
  <div class="w-default">
    <div
      class="flex justify-content-space-between align-items-center footer-content"
    >
      <section>
        <h2 class="mb-0">DINESH</h2>
        <p class="my-0">Full Stack Developer</p>
      </section>
      <section>
        <ul>
          <li (click)="scrollFunc('home')">Home</li>
          <li (click)="scrollFunc('skills')">Skills</li>
          <li (click)="scrollFunc('about')">About</li>
        </ul>
      </section>
      <section class="">
        <span
          ><a href="https://www.github.com/DineshNKumar" target="_blank"
            ><fa-icon [icon]="github"></fa-icon></a
        ></span>
        <span
          ><a href="https://www.linkedin.com/in/dineshkumar0510" target="_blank"
            ><fa-icon [icon]="linkedIn"></fa-icon> </a
        ></span>
        <span *ngIf="isMobile === true; else elseBlock">
          <a href="whatsapp://send?text=Hi, Dinesh" target="_blank"
            ><fa-icon [icon]="whatsapp"></fa-icon
          ></a>
        </span>
        <ng-template #elseBlock>
          <span>
            <a
              href="https://web.whatsapp.com/send?text=Hi, Dinesh"
              target="_blank"
              ><fa-icon [icon]="whatsapp"></fa-icon>
            </a>
          </span>
        </ng-template>
      </section>
    </div>
    <p class="text-center pt-2">All &copy; Copyright reserved.</p>
  </div>
</footer>
